<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IlBpYW5pdm8gLSBN
		aW5kZnVsIFNjaGVkdWxpbmciLCJwYWNrYWdlSWRlbnRpdHkiOiJwaWFuaXZv
		IC0gbWluZGZ1bCBzY2hlZHVsaW5nLnN3aWZ0cG0iLCJwYWNrYWdlS2luZCI6
		eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3sib3B0aW9ucyI6W10sInBsYXRm
		b3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIxOC4xIn1dLCJwcm9kdWN0cyI6
		W3sibmFtZSI6IlBpYW5pdm8gLSBNaW5kZnVsIFNjaGVkdWxpbmciLCJzZXR0
		aW5ncyI6W3siZGlzcGxheVZlcnNpb24iOlsiMS4wIl19LHsiYnVuZGxlVmVy
		c2lvbiI6WyIxIl19LHsiaU9TQXBwSW5mbyI6W3siYWNjZW50Q29sb3IiOnsi
		cHJlc2V0Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicmF3VmFsdWUiOiJtaW50
		In19fSwiYXBwQ2F0ZWdvcnkiOnsicmF3VmFsdWUiOiJwdWJsaWMuYXBwLWNh
		dGVnb3J5LnByb2R1Y3Rpdml0eSJ9LCJhcHBJY29uIjp7ImFzc2V0Ijp7Im5h
		bWUiOiJBcHBJY29uIn19LCJjYXBhYmlsaXRpZXMiOlt7InB1cnBvc2UiOiJy
		ZW1pbmRlcnMiLCJwdXJwb3NlU3RyaW5nIjoiUmVjZWl2ZSBhcHBvaW50bWVu
		dCByZW1pbmRlcnMgd2l0aCBQaWFuaXZvIn0seyJwdXJwb3NlIjoiY2FsZW5k
		YXJzIiwicHVycG9zZVN0cmluZyI6IlBpYW5pdm8gbmVlZHMgY2FsZW5kYXIg
		YWNjZXNzIHRvIHN5bmMgeW91ciBhcHBvaW50bWVudHMuIn0seyJwdXJwb3Nl
		IjoiY29udGFjdHMiLCJwdXJwb3NlU3RyaW5nIjoiUGlhbml2byB1c2VzIGNv
		bnRhY3RzIHRvIGhlbHAgeW91IHF1aWNrbHkgZmlsbCBpbiBzdHVkZW50IGRl
		dGFpbHMuIn0seyJwdXJwb3NlIjoiZmFjZUlEIiwicHVycG9zZVN0cmluZyI6
		IlVubG9jayBQaWFuaXZvIHNlY3VyZWx5IHVzaW5nIEZhY2UgSUQuIn1dLCJz
		dXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBw
		b3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0s
		eyJsYW5kc2NhcGVSaWdodCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsi
		cG9ydHJhaXRVcHNpZGVEb3duIjp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1p
		bGllcyI6WyJwYWQiXX19fV19XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJd
		LCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJB
		cHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVzIjpbXSwiZXhjbHVkZSI6W10sIm5h
		bWUiOiJBcHBNb2R1bGUiLCJwYWNrYWdlQWNjZXNzIjp0cnVlLCJwYXRoIjoi
		LiIsInJlc291cmNlcyI6W3sicGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOnsi
		cHJvY2VzcyI6e319fV0sInNldHRpbmdzIjpbeyJraW5kIjp7ImVuYWJsZVVw
		Y29taW5nRmVhdHVyZSI6eyJfMCI6IkJhcmVTbGFzaFJlZ2V4TGl0ZXJhbHMi
		fX0sInRvb2wiOiJzd2lmdCJ9XSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRh
		cmdldHMiOlt7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJuYW1l
		IjoiQXBwTW9kdWxlIiwicGFja2FnZUFjY2VzcyI6dHJ1ZSwicGF0aCI6Ii4i
		LCJyZXNvdXJjZXMiOlt7InBhdGgiOiJSZXNvdXJjZXMiLCJydWxlIjp7InBy
		b2Nlc3MiOnt9fX1dLCJzZXR0aW5ncyI6W3sia2luZCI6eyJlbmFibGVVcGNv
		bWluZ0ZlYXR1cmUiOnsiXzAiOiJCYXJlU2xhc2hSZWdleExpdGVyYWxzIn19
		LCJ0b29sIjoic3dpZnQifV0sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29s
		c1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1LjkuMCJ9LCJ0cmFpdHMiOltdfQ==
		</data>
		<key>manifestHash</key>
		<data>
		6Bj6SOXB7nNdvIoXiJSgPoxrZKWmC+S0f6W/4brlDjI=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.2.0-dev</string>
	</dict>
</dict>
</plist>
